*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.MuiCard-root {
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.MuiCard-root:hover {
  transform: translateY(-4px);
}